body {
    background-color: #fff0f5;
    margin: 0 auto;
    min-width: 1200px;
}


footer {
    background-color: #6e5064;
    color:#ffffff;
    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;

}

.footer_menu {
    display: flex;
    justify-content: center;
    padding-left:0px;
   
}
.footer_menu li {
    padding:0 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

  

.header_menu a {
    color: #ffffff;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}


h1 {
    background-color: #ffffff;
    opacity: 0.7;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    background-position: 20px center;
    height: 40px;
    width: 250px;
}

.footer_menu p {
    margin-bottom: 0px;
    margin-top: 0px;

}



.food_menu p,
.time_menu p {
    border-bottom: dashed 1px black;
    width: 150px;
}

.footer_menu a {
    color: #ffffff;
   
}

.food_menu a,
.time_menu a {
    background-image: url(images/yazirusi.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 18px;
    color: #000000;
}

.food_menu {
    background-color: #ffffff;
    width: 200px;
    margin-left: 10px;
}

.time_menu {
    background-color: #ffffff;
    width: 200px;
    margin-left: 10px;
}



.second_title {
    color: #ffffff;
    background-color: #6e5064;
    border-radius: 16px;

    background-image: url(images/dish.png);
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}
.food_menu ul,
.time_menu ul {
    padding-left: 10px;
}

.header_menu {
    color: #ffffff;
     
}
.header_list {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 14px;
    line-height: 15px;
}

.contents {
    width:1200px;
    justify-content: center;
    display: flex;
    margin:0 auto;
}

.header_top {
    width:1200px;
    justify-content: center;
    margin:0 auto;
}
